

<div class="signup-form">
    <form #formRegister="ngForm" (ngSubmit)="registracion(formRegister)">        
		<h2>Registracion</h2>
		<p class="hint-text">Crea tu cuenta</p>
        <div class="form-group">
        	<input type="usuario" class="form-control" [(ngModel)]="usuario" name="usuario" placeholder="Usuario" required minlength="4" maxlength="20">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="usuario.touched && !usuario.valid">
            <div *ngIf="usuario.errors.required">Usuario es requerido</div>
            <div *ngIf="usuario.errors.minlength">Usuario debe tener al menos 4 caracteres</div>
            <div *ngIf="usuario.errors.maxlength">Usuario debe tener maximo 20 caracteres</div>
        </div>
        <div class="form-group">
            <input type="text" id="email" name="email" class="form-control" placeholder="Email" [(ngModel)]="email" required minlength="8" maxlength="30">
        </div>        
        <div class="alert alert-danger" role="alert" *ngIf="email.touched && !email.valid">
            <div *ngIf="email.errors.required">Email es requerido</div>
            <div *ngIf="email.errors.minlength">Email debe tener al menos 8 caracteres</div>
            <div *ngIf="email.errors.maxlength">Email debe tener maximo 30 caracteres</div>
        </div>
		<div class="form-group">
            <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="Password" required minlength="3" maxlength="10">
        </div>
        <div class="alert alert-danger" role="alert" *ngIf="password.touched && !password.valid">
            <div *ngIf="password.errors.required">Password es requerido</div>
            <div *ngIf="password.errors.minlength">Password debe tener al menos 3 caracteres</div>
            <div *ngIf="password.errors.maxlength">Password debe tener maximo 10 caracteres</div>
        </div>
        

        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="tipoUsuario" name="tipoUsuario" id="exampleRadios1" value="ORG_EVENTOS" checked>
                <label class="form-check-label" for="exampleRadios1">Organizador de eventos</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" [(ngModel)]="tipoUsuario" name="tipoUsuario" id="exampleRadios2" value="FOOD_TUCKER">
                <label class="form-check-label" for="exampleRadios2">Food Truck</label>
            </div>
        </div>
		<div class="form-group">
            <button type="submit" class="btn btn-lg btn-primary btn-block">Registrarse ahora</button>
        </div>
    </form>
	<div class="text-center">¿Ya tienes una cuenta? <a href="../login">Login</a></div>
</div>