<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<p>gestionreservas works!</p>

<div class="container-lg">
  <div class="table-responsive">
      <div class="table-wrapper">
          <div class="table-title">
              <div class="row">
                  <div class="col-sm-8"><h2>Solicitudes <b>Listado</b></h2></div>
                  <div class="col-sm-4">
                      <button type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Ver solo evento vigentes</button>
                  </div>
              </div>
          </div>
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Tipo de servicio</th>
                      <th>Operaciones</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>John Doe</td>
                      <td>Administration</td>
                      <td>(171) 555-2222</td>
                      <td>
                          <a class="view" title="Ver" data-toggle="tooltip"><i class="material-icons">&#xe85d;</i></a>
                          <a class="accept" title="Aceptar" data-toggle="tooltip"><i class="material-icons">&#xe86c;</i></a>
                          <a class="delete" title="Rechazar" data-toggle="tooltip"><i class="material-icons">&#xe5c9;</i></a>
                      </td>
                  </tr>
                     
              </tbody>
          </table>
      </div>
  </div>
</div>